*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.backBody{
    position: relative;
}
.frontendBody{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.topBox{
    background-color: #009688;
    width: 100%;
    height: 15vh;
}

.bottomBox{
    background-color: #D9DBD5;
    height: 85vh;
}

.frontendBody2  {
    position: absolute;
    color: #D9DBD5;
    top: 0;
    left: 0;
    right: 0;
}